.Places {
    margin: 2em 0;
    padding: 0;
    max-width: 35em;
}
.Places li {
    list-style: none;
    margin: 1em;
    padding: 0;
    display: flex;
    background: #dedede;
    border-radius: 3px;
}

.Places-image {
    width: 9em;
    min-width: 9em;
    height: 9.3em;
    background: #201f1f;
    box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.71);
    object-fit: cover;
}

.Places-info-right-container {
    padding: 0;
    position: relative; /* anchor for the stamp img */
    width: 100%;
    overflow: hidden;
}

.Places-info-right {
    font-size: 80%;
    color: black;
    padding: 0.5em 0.8em;
    text-align: left;
}

.Places-info-right a {
    text-decoration: none;
    color: #1e96ff;
}

.Places-info-right a:visited {
    color: #2683bb;
}

.Places-info-right a:hover {
    color: #c51551;
}

.Places-rating {
    font-size: 90%;
    margin-left: 0.6em;
}

.Places-star {
    color: #FF9800;
    font-size: 110%;
    text-shadow: 0 0 1px black;
}

.Places-title {
    padding: 0;
    font-size: 130%;
}

.Places-phone a, .Places-address a {
    padding-left: 0.6em;
}

.Places-phone-symbol {
    color: black;
}

.Places-address {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.Places-location {
    vertical-align: sub;
}

.Places-categories {
    line-height: 1.7em;
    margin-top: 0.2em;
    margin-bottom: 1em;
    font-size: 80%;
}

.Places-categories span span {
    padding: 0.1em 0.7em;
    background: #c51551;
    color: #e6dfcf;
    margin-right: 0.5em;
    border-radius: 0.2em;
    white-space: nowrap; /* prevents word-break */
}


.Places-actions {
    margin-top: 0.8em;
    margin-left: 0.35em;
}

.Places-action-go {
    padding: 0.2em;
    width: 1em;
    line-height: 0.5em;
    height: 1em;
    margin-left: 0.5em;
    border-radius: 15%;
    font-size: 120%;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
    color: white;
    border: 1px solid #4e4d5f;
    box-sizing: content-box;
}

.Places-action-go.activate {
    background: #87a8da;
}
.Places-action-go.activate:hover {
    background: #65779f;
}
.Places-action-go.deactivate {
    background: #c51551;
}
.Places-action-go.deactivate:hover {
    background: #a41143;
}

.Places-stamp {
    position: absolute;
    right: -0.5em;
    bottom: 0em;
    height: 5em;
    width: 5.5em;
    transform: rotateZ(-10deg);
}

@media screen and (min-width: 32em) {
    .Places-stamp {
        bottom: auto;
        right: -0.5em;
        top: 1.5em;
        height: 9em;
        width: 10em;
    }
}


/* ANIMATION */
.anim-enter {
  opacity: 0.01;
  transform: scale(2);
}

.anim-enter.anim-enter-active {
  opacity: 1;
  transition: 250ms ease-in;
  transform: scale(1) rotateZ(-10deg);
}

.anim-leave {
    opacity: 1;
    transform: scale(1) rotateZ(-10deg);
}

.anim-leave.anim-leave-active {
  opacity: 0.01;
  transition: 300ms ease-in;
  transform: scale(2);
}
