.App {
    text-align: center;
}

.App-header {
    color: white;
    background: black;
    text-align: left;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 3em;
    width: 3em;
    vertical-align: middle;
    margin: 0 0.5em;
}

.App-title {
    display: inline-block;
    vertical-align: middle;
    margin: 0.6em 0.5em 0.6em 0;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
