.Content {
    max-width: 35em;
    margin: 0.5em auto;
    color: white;
}

.Content-intro {
    font-size: 130%;
    margin: 1.5em auto;
    padding: 0 1em;
}

.Content-error-message {
    color: #a11414;
    padding: 0.6em;
}

.Content-loading {
    padding: 0.6em;
}
